@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    
}
.left-container,.right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
    background: #f49797;
    width: 70%;
    padding-left: 3rem;
}
.right-container{
    background: #6c2c03;
    width: 30%;
}
.icons{
    font-size: 1.7rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 1.5rem;
}
.content .intro span{
    color: #6c2c03;
}
.content h1{
    font-size: 4rem;
    color: #6c2c03;
}
.content .detail{
    font-size: 1.1rem;
    max-width: 38rem; 
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.btn-container button{
    border: .1rem solid #6c2c03;
    font-size: 1.1rem;
    padding: .8rem 1.5rem ;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
button:nth-child(1){
    background: #6c2c03;
    color: #f49797;
}
button:nth-child(2){
    background: transparent;
    color: #6c2c03;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #6c2c03;
}
button:nth-child(2):hover{
    background: #6c2c03;
    color: #f49797;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg,transparent 50%,#f49797 );
    width: 38rem;
}
.circle:nth-child(2){
    width: 30rem;
    background-image: url("image/WhatsApp\ Image\ 2024-09-14\ at\ 11.01.15\ PM.jpeg");
    background-size: 100%;
    
}